.content {
  display: flex;
  padding: 0 80px;
  color: var(--white);
  position: relative;
}

.left-content {
  margin-top: 50px;

  img {
    border-radius: 2px;
  }

  .play-now {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;

    span {
      background: var(--light-green);
      padding: 8px 34px;
      text-transform: uppercase;
      border-radius: 4px;
      font-weight: 600;
      color: var(--white);
    }

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      background: var(--pink);
      padding: 8px 50px;
      text-transform: uppercase;
      text-decoration: none;
      border-radius: 4px;
      font-weight: 700;
      color: var(--white);
      transition: filter 0.3s;

      &:hover {
        filter: brightness(0.9);
      }

      img {
        width: 12px;
        margin-left: 6px;
        filter: invert(100%);
      }
    }
  }

  .status-count-require {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px;
    
    .status {
      display: flex;
      flex-direction: row;
      align-items: center;
      
      .circle-live {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--light-green);
        margin-right: 6px;
      }

      .circle-not-live {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--red);
        margin-right: 6px;
      }

      .game-status {
        font-weight: 600;
      }
    }

    .count-require {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 600;

      img {
        width: 14px;
        margin-right: 8px;
        filter: invert(100%);
      }
    }
  }
}

// ---------------

.right-content {
  margin-top: 42px;
  margin-left: 30px;

  .game-title {
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 20px;
  }

  .about-game {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 0;
    text-decoration: underline;
  }

  .game-description {
    padding: 0;
    line-height: 21px;
  }

  .game-infos {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .game-shop-info {
    padding: 0;
    display: flex;
    align-items: center;
    opacity: 0.6;

    img {
      width: 16px;
      margin-right: 10px;
      filter: invert(100%);
    }
  }

  hr {
    height: 0.1px;
    border-color: var(--white);
    opacity: 0.04;
    margin-bottom: 10px;
  }

  .additional-infos {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    span {
      display: flex;
      flex-direction: column;
      margin: 8px 0;

      p {
        margin: 4px 0;
        text-align: left;
        padding: 0;
        opacity: 0.6;
      }
    }

    .game-platform {
      span {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;

        .windows-image {
          width: 14px;
          margin-right: 6px;
          filter: invert(100%);
        }
      }
    }
  }

  .game-images-title {
    padding: 0;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 14px;
  }

  .game-images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    img {
      border-radius: 2px;
      height: 120px;
      width: 210px;
    }
  }

  .min-reqs {
    padding: 0;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;

    span {
      font-size: 20px;
      opacity: 0.6;
    }
  }

  .requirements-system {
    margin-top: 18px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    span {
      display: flex;
      flex-direction: column;
      margin: 8px 0;

      p {
        margin: 4px 0;
        text-align: left;
        padding: 0;
        opacity: 0.6;
      }
    }
  }
}