.free-game {
  background: url('../../assets/fortnite(1).png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 280px;
  width: 100%;
  box-shadow: inset 10px 10px 200px 100px rgba(0,0,0,1);
  border: 2px solid var(--black);
}

.promos {
  background: url('../../assets/gta.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 280px;
  width: 100%;
  box-shadow: inset 10px 10px 200px 100px rgba(0,0,0,1);
  border: 2px solid var(--black);
}

section {
  .infos {
    text-align: center;
    padding: 50px 0;

    h1 {
      color: var(--white);
      font-size: 36px;

      span {
        color: var(--pink);
      }
    }

    p {
      color: var(--gray);
      font-size: 20px;
      margin-top: 8px;
    }
  
    a {
      padding: 14px 40px;
      background: var(--pink);
      color: var(--white);
      border: none;
      border-radius: 2px;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 0.2px;
      cursor: pointer;
      text-decoration: none;
      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.9);
      }

      &:active {
        transform: scale(0.99);
      }
    }

    .or-styles {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;

      p {
        padding: 0 10px;
        font-size: 18px;
        font-weight: 600;
        color: var(--white);
      }

      span {
        background:var(--white);
        opacity: 0.19;
        margin-bottom: 10px;
        height: 1px;
        width: 30%;
      }
    }
  }
}

@media (max-width: 950px) {
  .infos {
    .title {
      font-size: 30px;
    }

    .description {
      font-size: 16px;
    }
  }
}

@media (max-width: 700px) {
  .infos {
    .search-button {
      padding: 10px 30px;
    }

    .description {
      margin-bottom: 24px;
    }
  }
}

@media (max-width: 620px) {
  .infos {
    .title {
      font-size: 28px;

    }
    
    .description {
      font-size: 16px;
    }

    .search-button {
      padding: 10px 30px;
    }

  }
}
