.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: absolute;

  padding: 6px 150px;
  width: 100%;
  background-color: var(--dark-blue);

  .logo {
    display: flex;
    align-items: center;

    img {
      width: 40px;
      margin-right: 14px;
    }

    h1 {
      color: var(--white);
    }
  }

  p {
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;

    a {
      color: var(--pink);
      margin-left: 4px;
    }
  }
}